extends layoutUsers
body 
  block content
  
    .BarraSup
      .navbar.navbar-dark.bg-dark
        .title
            img(src='/image/logo.png')
            h2 cochlear
        .btn-group(role='group', aria-label='Basic example')
          button.btn.btn-secondary(type='button') Crear Nuevo Usuario Admin
          button.btn.btn-secondary(type='button') #{user} Configuracion
          button.btn.btn-secondary(type='button', onclick="location.href='/users/logout';") Cerrar sesion
    .contentAdmin
      .cont_inf
        table.table.table-dark.table-hover
          thead
            tr
              th(scope='col') PREGUNTA_ID
              th(scope='col') RUTA SONIDO
              th(scope='col') RUTA IMG
          tbody
            each value, index in preguntas
              tr
                td #{value._id}
                td #{value.idSonido.ruta}
                td #{value.idSonido.rutaImg }
            
    footer
      .fixed-bottom
        .card.text-center
          .card-footer.text-muted
            | :)
